<% provide(:title, 'Forgot password') %>

<%= form_for :password_reset, url: password_resets_path, html: { class: 'form-password-reset' } do |f| %>
  <h2 class="form-password-reset-heading text-center">Forgot password</h2>

  <%= render 'shared/form_field/email_field', f: f %>

  <%= f.button 'Submit',
               class: 'btn btn-primary btn-block',
               data: { disable_with: "<i class='fa fa-circle-o-notch fa-spin'></i> Processing..." } %>
<% end %>
