<% provide(:title, 'Forgot password') %>

<%= form_for :password_reset, url: password_resets_path, html: { class: 'form-signin' } do |f| %>
  <h2 class="form-signin-heading text-center">Forgot password</h2>

  <%= render 'shared/email_field', f: f %>

  <%= f.submit 'Submit', class: 'btn btn-primary btn-block' %>
<% end %>
