<div class="order-nav-bar">
  <ul class="list-inline">
    <li class="<%= if_link_active(:latest, @order) %>"><%= link_to 'latest', link_path(link, order: 'latest'), data: { disable_with: "<i class='fa fa-circle-o-notch fa-spin'></i> latest" } %></li>
    <li class="<%= if_link_active(:rank, @order) %>"><%= link_to 'high votes', link_path(link, order: 'rank' ), data: { disable_with: "<i class='fa fa-circle-o-notch fa-spin'></i> high votes" } %></li>
  </ul>
</div>
