<ul class="comment-list">
  <div class="comment-form-container">
    <%= form_for [@link, @comment]  do |f| %>
      <%= render 'comments/comment_fields', f: f %>
      <%= f.submit 'Comment', class: 'btn btn-primary' %>
    <% end %>
  </div>

  <% comments.each do |comment| %>
    <li><%= render 'comments/comment_info', comment: comment %></li>
  <% end %>
</ul>
