<div class="row comment-row">
  <ul>
    <li class="info">
      <%= link_to comment.user.username, comment.user %>
      commented
      <%= timeago_tag comment.created_at, nojs: true, limit: 10.days.ago %>
    </li>
    <li class="content">
      <%= comment.content %>
    </li>
  </ul>
</div>
