<% provide(:title, 'Edit user') %>

<%= form_for @user, html: { class: 'form-signin' } do |f| %>
  <%= render 'shared/errors', object: f.object %>

  <h2 class="form-signin-heading">Edit user</h2>

  <%= render 'form', f: f %>

  <%= f.submit 'Create', class: 'btn btn-primary btn-block' %>
<% end %>
