<% provide(:title, 'Edit user') %>

<%= form_for @user, html: { class: 'form-signup' } do |f| %>
  <%= render 'shared/errors', object: f.object %>

  <h2 class="form-signup-heading text-center">Edit user</h2>

  <%= render 'form', f: f %>

  <%= f.button 'Update',
               class: 'btn btn-primary btn-block',
               data: { disable_with: "<i class='fa fa-circle-o-notch fa-spin'></i> Updating..." } %>
<% end %>
