<% provide(:title, 'About') %>

<div class="container text-center">
  <h1>About</h1>
  <p>This is a reddit-like site build for practicing purpose.</p>
  <p>source at <%= link_to 'GitHub', 'https://github.com/N19270/reddit-on-rails' %></p>
</div>
