<% provide(:title, 'Contact') %>

<div class="container">
  <h1 class="text-center">Contact</h1>
    <ul id="contact-list" class="list-unstyled center-block">
      <li>
        <i class="fa fa-envelope-o"></i>
        <%= mail_to 'erithair@gmail.com' %>
      </li>
      <li>
        <i class="fa fa-github"></i>
        <%= link_to 'N19270', 'https://github.com/N19270' %>
      </li>
    </ul>
</div>
