<% provide(:title, 'Edit link') %>

<div class="container">
  <%= form_for @link, url: link_path(@link), method: :patch, html: { class: 'link-form' } do |f| %>

    <h3>Edit link</h3>
    <%= render 'form_fields', f: f %>

    <%= f.submit 'Update', class: 'btn btn-primary' %>

  <% end %>
</div>