<% provide(:title, 'Edit link') %>

<div class="container">
  <%= form_for @link, url: link_path(@link), method: :patch, html: { class: 'link-form' } do |f| %>

    <h3>Edit link</h3>
    <%= render 'form_fields', f: f %>

    <%= f.button 'Update',
                 class: 'btn btn-primary',
                 data: { disable_with: "<i class='fa fa-circle-o-notch fa-spin'></i> Updating..." } %>

  <% end %>
</div>