<% provide(:title, 'Home') %>

<div class="container-fluid">
  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-content" role="navigation">
    <div class="container-fluid">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>

  <div class="row">
    <div id="links-container" class="col-md-6">
      <%= render 'link_list' %>
    </div>
    <div class="comment-container col-md-6">
      
    </div>
  </div>
</div> <!-- /container -->
