<% provide(:title, 'Home') %>

<div class="container-fluid">
  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-content" role="navigation">
    <div class="container-fluid">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>

  <div class="row">
    <div id="links-container" class="col-md-6">
      <%= render 'links/link_list' %>
      <%= will_paginate @links %>
    </div>

    <div class="content-container col-md-6">
      <div class="container">
        <% if @link %>
          <%= render 'link_form' %>
        <% end %>

        <%= render 'comments/comment_list' if @comments %>
      </div>
    </div>

  </div>
</div> <!-- /container -->
