<% provide(:title, 'Home') %>

<div class="container-fluid">
  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-content" role="navigation">
    <div class="container-fluid">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to 'new', links_path(order: 'latest') %></li>
          <li><%= link_to 'top', links_path(order: 'top') %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>

  <div id="links-container" class="container">
    <%= render 'links/link_list' %>
    <%= will_paginate @links %>
  </div>
</div> <!-- /container -->
