<% provide(:title, @link.title) %>

<div class="container">
  <div class="link-content"></div>
  <%= render 'links/link_info', link: @link %>
  <%= render 'comments/comment_form', link: @link %>

  <ul class="comment-list">
    <li>
      <%= render 'comments/comment_order_navbar', link: @link %>
    </li>
    <%= render 'comments/comment_list', link: @link, comments: @comments %>
  </ul>
</div>
