ul.comment-list {
  list-style: none;
  padding: 0;

  .comment-form-container {
    width: 50%;
    margin-bottom: 20px;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.comment-row {
  max-width: 600px;
  min-width: 300px;
  margin: 0 0 15px 0;
  background-color: #f8f8f8;

  ul {
    margin: 0;
    display: inline-block;
    list-style: none;
    padding: 0;

    li {
      padding: 0 10px;
      margin: 0 10px;
    }

    .info {
      margin-bottom: 0;
    }

    .content {
      border: 1px solid blue;
      margin-top: 0;
    }
  }
}
