.comment-form-container {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 60px;

  .form-group {
    margin-bottom: 0;
  }
}

ul.comment-list {
  list-style: none;
  padding: 0;
  margin-top: 30px;

  .comments-nav-bar {
    max-width: 870px;
    height: 30px;
    line-height: 30px;
    padding-left: 60px;
    background-color: #dedede;
    border-radius: 0.5em;

    .active {
      font-weight: bold;
    }
  }
}

.comment-row {
  min-width: 300px;
  margin: 10px 0;

  #comment-details {
    padding: 5px;
    max-width: 800px;
    background-color: #f8f8f8;
    border-radius: 0.5em;
  }

  .col {
    display: inline-block;
    height: 100%;
    margin: 5px;
    padding-left: 0;
    vertical-align: top;
    overflow: hidden;
  }

  ul {
    margin: 0;
    display: inline-block;
    list-style: none;
    padding: 0;

    li {
      padding: 0 10px;
      margin: 0 10px;
    }

    .info {
      margin-bottom: 0;
    }

    .content {
      margin-top: 0;
      padding: 0;
      color: #907a70;
    }
  }
}
