#links-container {
  position: relative;
  margin-left: 0;
  padding: 0;
}

ul.link-list {
  list-style: none;
  padding-left: 0;

  .collapse, .collapsing {
    padding-left: 50px;
  }
}

.link-row {
  max-height: 80px;
  margin-top: 15px;

  .image {
    display: inline-block;
    width: 80px;
    max-height: 80px;
    overflow: hidden;
  }

  .col {
    display: inline-block;
    height: 100%;
    margin: 5px;
    padding-left: 0;
    vertical-align: top;
    overflow: hidden;

    ul {
      margin: 0;
      display: inline-block;
      list-style: none;
      padding: 0;
    }
  }
}

.rank-field {
  display: inline-block;

  ul {
    width: 60px;
    font-weight: bold;
    font-color: #c6c6c6;
    text-align: center;
  }
}

.delete-link {
  color: red;
}

.link-title {
  color: #5414d3;
  font-size: 1.2em;
  font-weight: bold;
}

.time {
  color: #57a275;
}

.link-comment {
  color: #907a70;
  font-weight: bold;
}
