// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#links-container {
  position: relative;
  padding: 0;
  margin: 10px auto;
  min-width: 640px;

  ul.link-list {
    list-style: none;
    padding: 0;

    .row {
      height: 80px;
      margin: 0 auto 10px auto;
      background-color: #f8f8f8;

      .image {
        float: left;
        width: 80px;
        height: 80px;
        overflow: hidden;
      }

      .content {
        display: inline-block;
        padding-left: 0;
        margin-left: 10px;
        height: 80px;
        overflow: hidden;
        ul {
          margin: 0;
          display: inline-block;
          list-style: none;
          padding: 0;
        }
      }
    }
  }
}
